# Build outputs
bin/
obj/

# OS artifacts
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Publish output folders
publish/

# media images (local artifacts)
*.tu56
*.rx01
*.rx02
sd/

# cores
000
001
